{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
</head>
<body>
    {% block navbar %}
    {% if request.user.role == 'Admin' %}
        {% include 'carpage/admin/adminnav.html' %}
    {% elif request.user.role == 'Buyer' %}
        {% include 'carpage/user/usernav.html' %}
    {% elif request.user.role == 'Seller' %}
        {% include 'carpage/user/usernav.html' %}   
    {% endif %}
    {% endblock navbar %}

    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock scripts %}
    
</body>    
</html>
